/* Esercizio 1 */
.ex-1-square:hover{
    background-color: red;
    transition: background-color 2s ease-in-out;
}

/* Esercizio 2 */
.ex-2-square:active{
    width: 100%;
    transition: width 0.5s ease-in-out;
}
/* Esercizio 3 */
.ex-3-square:hover{
    border-radius: 50%;
    transition: border-radius 1s ease-in-out;
}

/* Esercizio 4 */
.ex-4-square:hover{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Esercizio 5 */
.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0;
    transition: all 1s ease-in-out;
}

.ex-5-square:active{
    width: 10px;
    height: 10px;
    transition: all 1s ease-in-out ;
}