/* Esercizio 1 */
.ex-1-square:hover{
    background-color: red;
    transition: background-color 2s ease-in-out;
}

/* Esercizio 2 */
.ex-2-square:active{
    width: 100%;
    transition: width 0.5s ease-in-out;
}
/* Esercizio 3 */
.ex-3-square:hover{
    border-radius: 50%;
    transition: border-radius 1s ease-in-out;
}

/* Esercizio 4 */
.ex-4-square:hover{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Esercizio 5 */
.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0;
    transition: all 1s ease-in-out;
}

.ex-5-square:active{
    width: 10px;
    height: 10px;
    transition: all 1s ease-in-out ;
}

/* Esercizio 6 */
.ex-6-img:hover{
    filter: grayscale(100%);
    transition: all 1s;
}

/* Esercizio 7 */
.ex-7-img{
    filter: blur(10px) grayscale(100%);
}

.ex-7-img:hover{
    animation: filter-change 4s;
}

@keyframes filter-change {
    50%{
        filter: blur(5px) grayscale(50%);
    }
    100%{
        filter: blur(0px) grayscale(0)     
    }
}

/* Esercizio 8 */
.ex-8-img{
    filter: blur(10px) grayscale(100%);
}

.ex-8-img:hover{
    animation: filter-border 10s;
}

@keyframes filter-border {
    33%{
        filter: blur(7px) grayscale(66%);
        border-radius: 0;
    }
    66%{
        filter: blur(3px) grayscale(33%);    
    }
    100%{
        filter: blur(0) grayscale(0);
        border-radius: 50%;
    }
}

/* Esercizio 9 */
.ex-9-img{
    filter: blur(10px) grayscale(100%);
}

.ex-9-img:hover{
    animation: filter-border-size 8s;
}

@keyframes filter-border-size {
    33%{
        filter: blur(7px) grayscale(66%);
        border-radius: 0;
    }
    66%{
        filter: blur(0) grayscale(0);
        margin: 25px 50px;
        width: 450px;    
    }
    100%{
        filter: blur(0) grayscale(0);
        border-radius: 50%;
        margin: 0;
        width: 500px;
    }
}

/* Esercizio 10 */
.ex-10-icon{
    animation: rotation 1s  linear infinite;
}

@keyframes rotation {
    100%{
        rotate: 360deg;
    }
}

/* Esercizio 11 */
.ex-11-icon:hover{
    animation: rotation-clockwise 3s;
}

@keyframes rotation-clockwise {
    0%{rotate: 0deg;
    } 
    75%{
        rotate: 270deg;
    }
    100%{
        rotate: 0deg;
    }
}

/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white  {
    position: absolute;
    top: -10px;
    left: 60%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    transition: all 5s;
}

.ex-12-button:hover .ex-12-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 60%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    transition: all 5s;
}

/* Esercizio 13 */
.ex-13-button:hover .ex-13-top-white{
    animation: infinite-top-rotation 4s linear infinite;
}

@keyframes infinite-top-rotation {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: 90%;
        top: -10px;
    }
    45% {
        left: 90%;
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -20px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: infinite-bottom-rotation 4s linear infinite;
}
@keyframes infinite-bottom-rotation {
    0% {
        right: 20%;
        bottom: -10px;
    }
    30% {
        right: 90%;
        bottom: -10px;
    }
    45% {
        right: 90%;
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -20px;
        bottom: -10px;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }
}